<% include ../partials/header.ejs %>

<div class='ui main text container'>
	<div class='ui huge header'>The Calisthenics Bible</div>
	<div class='ui top attached segment'>
	<div class='ui divided items'>
		<%moves.forEach(function(move){ %>
			<div class='item'>
				<div class='ui video'>
					<iframe width="300" height="200" src="<%=move.video%>" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class='content'>
					<a class='header' href='/calisthenics/<%=move._id%>'><%=move.title%></a>
					<div class='meta'><span><%=move.created.toDateString()%></span></div>
					<div class='description'>
						<p><%-move.description%>...</p>
					</div>
					<div class='extra'>
						<a class='ui basic floated purple button' href='/calisthenics/<%=move._id%>'>
										Read More
										<i class='right chevron icon'></i>
						</a>
					</div>
				</div>
			</div>
		
		<% }) %>
		</div>
	</div>
</div>



<% include ../partials/footer.ejs %>